<!DOCTYPE html>
<html lang="en">
    <head>
            <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
            <script type="text/javascript" src="/socket.io/socket.io.js"></script>
            <style>
            body{
                      background-image: url('/ASSETS/imgs/back.png');
                      background-repeat: no-repeat;
                      background-size:cover;
              }
            h4{
                         font-size: x-large;
                         font-family: 'Times New Roman', Times, serif;

              }
      </style>
            
        </head>
    <body >

<h2><%= postDetail.title %></h2>
<h4><%= postDetail.description %></h4>
<h4><%= postDetail.by %></h4>
<h4><%= postDetail.url %></h4></br></br>

<style>::placeholder {
    color: red;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: red;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
   color: red;
  }
  .button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
  </style>
<h4><input type="text" placeholder="Write your comment here"  id="comment" rows="3" cols="50" style="font-size:x-large;" >

</input></h4></br>
<input type="hidden" id="postId" value="<%= postId %>">
<button class="button" style="vertical-align:middle" type="submit" value="Send" id="send"><span>Send </span></button>
<h4><u>COMMENTS</u></h4>

<div class="comments">
    <% 
    if (typeof comments != 'undefined' && comments != null) {
            comments.forEach( function ( commentData ){
                    %>
                <h4> <%= commentData.comment %> </h4>
                    <% });
                } %>

</div>
</body>
<script type="text/javascript">
var socket = io();
    $('#send').click(function(){
        var comment = $('#comment').val();
        var postId = $('#postId').val();
        if(comment != ''){
            var data = {'comment': comment,'postId': postId};
        $('.comments').append("<p>"+comment+"</p>");
        $('#comment').val('');
        }
        
    socket.emit('comment',data);


    });

    socket.on('comment',function(data){
        var postId = "<%= postId %>";
        if(postId==data.postId){
            $('.comments').append("<p>"+data.comment+"</p>");
        }
        });
    

</script>
</html>