<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/materialize.min.css">
    <title>Traveler Panel</title>
</head>

<body>
    <a class="goBack" href="/users/Panel">Go To Panel</a>
    <div class="selectTheTrip">
        <%result.forEach(res => {%>
            <%if(version == 'details'){%>
        <a class="insideSelect" href="/showTravelerDetails?id=<%=res.CustomerID%>">
                <div href="/showTravelerDetails?id=<%=res.CustomerID%>">
                    <h2><%=res.LocName%></h2>
                    <p><%=res.StartDate%></p>
                </div>
        </a>
        <%}else if(version == 'addPart'){%>
            <a class="insideSelect" href="/addParticipants?id=<%=res.CustomerID%>">
                <div href="/addParticipants?id=<%=res.CustomerID%>">
                    <h2><%=res.LocName%></h2>
                    <p><%=res.StartDate%></p>
                </div>
        </a>
        <%}});%> 
    </div>
</body>

</html>